# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.coverage
html_cov/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# ML models
*.pkl
*.h5
*.pt

# Logs
*.log
logs/

# Configuration files with sensitive information
config/sensitive/
